{% include "Vues/header.html" %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  

    <!-- Optional JavaScript -->


    {% comment %} <script src="{% static "js/script.js" %}"></script> {% endcomment %}
    <title>Admin Dashboard</title>
  </head>
  <body>
    


              

    
  
       
<table class="table  table-striped table-hover table-bordered" id="">
  <thead class="thead-dark">
   <tr>
      <th scope="col">N°</th>
      <th scope="col">identifiant</th>
      <th scope="col">Culture</th>
     
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

      <tr>
        
    
      <td>1</td>
          <td>Liman</td>
          <td>Crescens</td>
          
          <td>
            junias

        </td>
        
     </tr>
     <tr> 
     <td>2</td>
          <td>mon</td>
          <td>kdi</td>
          
          <td>
            moi

        </td> 
    </tr>
    <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
     <tr> 
      <td>2</td>
           <td>mon</td>
           <td>kdi</td>
           
           <td>
             moi
 
         </td> 
     </tr>
  </tbody>
</table>

{% include "Vues/footer.html" %}